<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Registro Biopark</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    </head>
    <body>
        <div class="caixa center">
        <h2>Bem vindo!</h2>

	<p>Olá! Esse é o sistema de administração do Biopark! Tome cuidado com as informações inseridas.</p>
	
	<a href="/cadastro" class="button">Cadastrar Edifícios<br> e Apartamentos</a>
	<a href="/pagina_pesquisa" class="button">Pesquisar e<br>Atualizar</a>
	</div>
    </body>
</html>
